<div class="quote-items" style="border-bottom: 1px solid rgb(51, 51, 51);">
    <h4>Quote items summary</h4>
    <ul data-bind="foreach: { data: getQuoteItems(), as: 'item' }">
        <li class="summary-item">
            <img data-bind="attr: { src: item.thumbnail, class: $parent.getTriggerName(item) }" />
            <div class="message-system-list"
                     style="display: none;"
                 data-bind="mageInit: {
                    'Magento_Ui/js/modal/modal':{
                        'type': 'custom',
                        'trigger': $parent.getTrigger(item),
                        'wrapperClass': 'summary-item',
                        'parentModalClass': '_has-modal-custom _has-auth-shown',
                        'responsive': true,
                        'overlayClass': 'dropdown-overlay modal-custom-overlay',
                        'buttons': []
                    }}">
                <img data-bind="attr: {src: $parent.getImageUrl(item), alt: 'Product image'}"/>
            </div>
            <div class="details">
                <h5 data-bind="text: item.name"></h5>
                <ul>
                    <li>
                        <span data-bind="i18n: 'Qty:'"></span>
                        <span data-bind="text: item.qty"></span>
                    </li>
                    <li>
                        <span data-bind="i18n: 'Base price:'"></span>
                        <span data-bind="text: $parent.getFormattedPrice(item.base_price)"></span>
                    </li>
                    <li>
                        <span data-bind="i18n: 'Discount:'"></span>
                        <span data-bind="text: $parent.getFormattedPrice(item.base_discount_amount)"></span>
                    </li>
                    <li>
                        <span data-bind="i18n: 'Item final price:'"></span>
                        <span data-bind="text: $parent.getFormattedPrice(item.base_price_incl_tax)"></span>
                    </li>
                    <li>
                        <span data-bind="i18n: 'Subtotal:'"></span>
                        <span data-bind="text: $parent.getFormattedPrice(item.base_row_total)"></span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>