<div class="shipping" style="border-bottom: 1px solid rgb(51, 51, 51);">
<h4>Shipping summary</h4>
    <ul>
        <li data-bind="text: shippingData().firstname"></li>
        <li data-bind="text: shippingData().lastname"></li>
        <li data-bind="text: shippingData().city"></li>
        <li data-bind="text: shippingData().street"></li>
        <li data-bind="text: shippingData().postcode"></li>
        <li data-bind="text: shippingData().countryId"></li>
    </ul>
    <div class="shipping-information-title">
        <button class="action action-edit" data-bind="click: edit">
            <span data-bind="i18n: 'edit'"></span>
        </button>
    </div>
</div>